.body {
  overflow: hidden;
  background: url("../images/bgu.png");
  height: 100%;
}
/*头部*/
.header {
  background: url("../images/bg.png");
  background-size: 100%, contain;
  overflow: hidden;
}
.header .header_persona {
  width: 3.1rem;
  padding: 1.34rem 0 0.59rem;
  margin: 0 auto;
  text-align: center;
}
.header .header_persona .persona_head {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  margin: 0 auto;
}
.header .header_persona .persona_head img {
  width: 100%;
  height: 100%;
}
.header .header_persona p {
  font-size: 0.12rem;
  color: #999;
}
.header .header_persona p:first-of-type {
  font-size: 0.24rem;
  font-weight: 600;
  color: #333;
  padding: 0.22rem 0 0.12rem;
}
.header .header_persona p:last-of-type {
  font-size: 0.14rem;
  color: #666;
  padding-top: 0.24rem;
}
.header .header_nav {
  width: 6.1rem;
  margin: 0 auto;
}
.header .header_nav ul {
  padding-bottom: 0.24rem;
}
.header .header_nav ul li {
  width: 25%;
  text-align: center;
  float: left;
  font-size: 0.16rem;
}
.header .header_nav ul li a {
  display: inline-block;
  color: #999;
  padding: 0 0.15rem 0.1rem;
}
.header .header_nav ul li.active a {
  font-weight: 700;
  color: #333;
  border-bottom: 3px solid #32aee5;
}
/*主体*/
.main {
  width: 14rem;
  margin: 0 auto;
}
.main .main_works {
  padding-top: 0.25rem;
}
.main .main_works li {
  float: left;
  width: 2.62rem;
  background-color: #e9e5e5;
  margin-right: 0.22rem;
  margin-top: 0.19rem;
  border-radius: 5px;
}
.main .main_works li > a {
  display: block;
  width: 100%;
  height: 100%;
}
.main .main_works li > a > div:first-of-type {
  width: 100%;
  height: 3rem;
  border-bottom: 0.02rem solid #240303;
}
.main .main_works li > a > div:last-of-type {
  padding-right: 0.19rem;
  width: 100%;
  height: 0.5rem;
  text-align: right;
  font-size: 0.12rem;
  line-height: 0.5rem;
}
.main .main_works li:nth-of-type(5n) {
  margin-right: 0;
}
.main .main_page {
  width: 1.6rem;
  margin: 0.2rem auto;
  overflow: hidden;
}
.main .main_page a {
  float: left;
  display: inline-block;
  width: 0.41rem;
  background-color: #32aee5;
  color: #fff;
  margin-left: 0.1rem;
  font-size: 0.16rem;
  text-align: center;
  line-height: 0.41rem;
  border-radius: 5px;
}
.main .main_footer {
  overflow: hidden;
}
.main .main_footer .footer_fl {
  color: #333;
  float: left;
  width: 2.62rem;
  height: 5.38rem;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0 0.21rem;
}
.main .main_footer .footer_fl > p {
  padding: 0.22rem 0 0.16rem;
  font-size: 0.16rem;
}
.main .main_footer .footer_fl .footer_persona .footer_head {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
}
.main .main_footer .footer_fl .footer_persona .footer_head img {
  width: 100%;
  height: 100%;
}
.main .main_footer .footer_fl .footer_persona > p {
  padding-top: 0.13rem;
  font-size: 0.24rem;
  font-weight: 600;
}
.main .main_footer .footer_fl .footer_persona p:last-of-type {
  font-size: 0.12rem;
  font-weight: 400;
  overflow: hidden;
}
.main .main_footer .footer_fl .footer_persona .footer_tel {
  font-size: 0.16rem;
  line-height: 0.35rem;
}
.main .main_footer .footer_fl .footer_persona .footer_tel::before {
  content: "";
  display: inline-block;
  width: 0.28rem;
  height: 0.35rem;
  background: url("../images/Telephone.png") no-repeat;
  background-size: 100% 100%;
}
.main .main_footer .footer_fl .footer_persona .footer_wx {
  width: 2.2rem;
  height: 2.24rem;
}
.main .main_footer .footer_fl .footer_persona .footer_wx > img {
  width: 100%;
  height: 100%;
}
.main .main_footer .footer_fl .footer_persona .footer_url {
  padding-top: 0.2rem;
}
.main .main_footer .footer_fl .footer_persona .footer_url a {
  display: inline-block;
  width: 0.39rem;
  height: 0.3rem;
  float: left;
  background: url("../images/wb.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 0.24rem;
}
.main .main_footer .footer_fl .footer_persona .footer_url a:nth-of-type(2) {
  width: 0.3rem;
  background: url("../images/qq.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 0.36rem;
}
.main .main_footer .footer_fl .footer_persona .footer_url a:nth-of-type(3) {
  width: 0.34rem;
  background: url("../images/kj.png") no-repeat;
  background-size: 100% 100%;
  margin-left: 0.4rem;
}
.main .main_footer .footer_fr {
  float: right;
  width: 11.12rem;
  height: 5.38rem;
  background-color: #fff;
  border-radius: 5px;
}
.main .main_footer .footer_fr .footer_fr_inp {
  padding: 0.25rem 0.25rem 0 ;
}
.main .main_footer .footer_fr .footer_fr_inp input {
  width: 9.59rem;
  height: 0.45rem;
  background-color: #efefef;
  border: none;
  font-size: 0.2rem;
  padding-left: 1em;
}
.main .main_footer .footer_fr .footer_fr_inp div {
  text-align: center;
  border-radius: 5px;
  width: 0.96rem;
  background-color: #32aee5;
  line-height: 0.45rem;
}
.main .main_footer .footer_fr .footer_fr_inp div > a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.16rem;
}
.main .main_copy {
  color: #666;
  font-size: 0.16rem;
  padding-top: 0.22rem;
  padding-bottom: 0.44rem;
}
/*底部*/
.footer {
  background-color: rgba(0, 0, 0, 0.7);
}
.footer .footer_content {
  width: 14rem;
  margin: 0 auto;
  color: #666;
  font-size: 0.18rem;
  padding-top: 0.9rem;
}
.footer .footer_content ul {
  padding-top: 0.32rem;
}
.footer .footer_content ul li {
  float: left;
  padding-right: 0.3rem;
}
.footer .footer_content .footer_flr {
  padding-top: 0.4rem;
  float: right;
}
.footer .footer_content .footer_page {
  text-align: center;
  padding-top: 1.57rem;
  padding-bottom: 0.31rem;
}
